body, html {
    height: 100%;
    margin: 0;
    background-color: #e2d8d8;
}
.navbar {
    overflow: hidden;
    background-color: #0f0937; /* Set the background color */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd; /* Change background color on hover */
    color: black;
}