body, html {
    height: 100%;
    margin: 0;
    background-color: #e2d8d8;
}
.header {
    overflow: hidden;
    background-color: #0f0937; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
}

.header a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.header a:hover {
    background-color: #ddd;
    color: black;
}
.pages {
     
    background-color: #ffffff; 
    
    
}