body, html {
    height: 100%;
    margin: 0;
    width: 100%;
    background-color: #ebeaea;
    
   
}

.mastercontainer {
    height: 100%;
    width: 100%
}

.header {

    background-color: #ebeaea; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100px;
    width: 100%;
    top: 0;
  
}

.header a {
    float: left;
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.header a:hover {
    background-color: #ddd;
    color: black;
}

.pages {
    margin-top: 100px;
    background-color: #ebeaea;  
    height: 100%;
    width: 100%;
}

.colorunderlay {
    position: absolute;
    background-color: #ffffff;
    height: 90%;
    width: 90%;
    left: 5%;
    right: 5%;
    
    

}


