/* styles.css */

body, html {
    height: 100%;
    margin: 0;
    background-color: #d9c9c9;
}

.mastercontainer {
    height: 100%;
    width: 100%
}

.header {
    overflow: auto;
    background-color: #0f0937; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.header a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.header a:hover {
    background-color: #ddd; 
    color: black;
}

.pages {
    margin-top: 100px;
    height: 80%;
    width: 80%;
    
}

.map {
    margin-top: 100px;
    
    width: 100%;
    height: 100%;
    border: 3px solid #000000;
}
